body{
    font-family: 'Audiowide', cursive;
}

h1{
    font-size: 50px ;
    color: rgb(1, 1, 54);

}
.name-highlight{
    color: rgb(255, 68, 0);

}
.live{
    color: rgb(255, 30, 0);
    font-size: larger;
}