body{
    font-family: 'Audiowide', cursive;
    margin: 0px ;
}

h1{
    font-size: 50px ;
    color: rgb(1, 1, 54);

}
.name-highlight{
    color: rgb(255, 68, 0);

}
.live{
    color: rgb(255, 30, 0);
    font-size: larger;
}
.half-wid{
    width: 40%;
    float: left;
   
    margin-left: 5%;
    padding-left: 2%;
}
.half-wid img{
    width: 100%;

}

.top-banner{
    background-image:url(image/top-banner.png) ;
    background-repeat: no-repeat;

}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-weight: 700;
    background-image: linear-gradient(50 deg,lightsalmon ,tomato);

}
.html{
    color: rgb(154, 0, 0);
    font-weight: 500;
}
h2{
    font-weight: 700;
    font-size: 30px;
    color: rgb(1, 1, 54);
}
p {
    color-adjust: red ,blue ;
    color: rgb(49, 4, 52);
}
.ABOUT {
    background-image:url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.latest{
    float: left;
}
.half-wid2{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-wid2 img{
    width: 100%;
}